<h2>スケジュール詳細</h2>

<table>
  <tr>
    <th>名前</th>
    <td><%= @task.title %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @task.start_day %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @task.end_day %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td>
      <% if @task.all_day %>
        <%= "◯" %>
      <% end %>
    </td>
  </tr>

  <tr>
    <th>スケジュールメモ</th>
    <td><%= @task.schedule_memo %></td>
  </tr>
 
</table>


<div>
  <ul>
    <li><%= link_to "スケジュール一覧に戻る", :tasks %></li>
    <li><%= link_to "スケジュールを編集する", [:edit, @task] %></li>
    <li><%= link_to "スケジュールを削除する", @task, method: :delete, data: {confirm: "本当に削除しますか？"} %></li>

  </ul>
</div>